.xind_radio{background: url("../images/pic7_1.jpg") no-repeat 50%;background-size: cover;}
.xind_page4{background: url("../images/pic8_1.jpg") no-repeat 50%;background-size: cover;}


.xind_page4 ul li .p1{display: none;}

.dialog{display: none;}